/* image uploader section start */

.title{
    text-align: center;
    margin: 16px auto;
    padding: 0px 45px ;
    background: #b5b5b5;
    /* box-shadow: 0 0 13px 2px #434242, 0 0 2px 2px #434242; */
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    font-family: var(--poppins);
    color: #1a1a1a;
    border-radius: 10px;
}

#uploader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #979797d4;
    border-radius: 14px;
    margin: 20px auto;
    width: 60%;
    padding: 15px 25px;
    color: var(--dark);
    font-family: var(--poppins);
    border: 3px solid rgb(177, 177, 177);
}


#uploader .upload_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 65%;
    border-radius: 10px;
    /* background: var(--bac-gray); */
    border: 3px solid #737373;
    /* box-shadow: 0px 0px 10px 5px #2a9d90c5; */
    margin: 7px 5px 35px 2px;
    /* animation: shadow 5s ease-in-out infinite; */
    position: relative;
}

@keyframes shadow {
    0%{
        box-shadow: 0px 0px 10px 5px #9d7b2ac5;
    }
    25%{
        box-shadow: 0px 0px 8px 4px rgba(227, 188, 29, 0.849);
    }
    50%{
        box-shadow: 0px 0px 6px 3px #9d952ac5;
    }
    75%{
        box-shadow: 0px 0px 4px 2px #8c9d2ac5;
    }
    100%{
        box-shadow: 0px 0px 8px 1.5px #9d752ac5;
    }
}

#uploader .upload_area #photo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}

#uploader .upload_area.active #photo{
    opacity: 1;
}

#uploader .upload_area img{
    width: 98%;
    height: 98%;
    position: absolute;
    border-radius: 7px;
}

#uploader .upload_area i{
    margin-bottom: 20px;
    font-size: 70px;
}

#uploader .upload_area h3{
    font-size: 18px;   
    font-weight: 400;
}

#uploader .up-btn{
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 500;
    margin-bottom: 10px;
    background: var(--background_color05);
    color: var(--dark);
    cursor: pointer;
}

#uploader .up-btn:hover{
    background: var(--blue-hover);
}

/* image uploader section end */